/*#region font-faces */
@font-face {
    font-family: 'Roboto Black';
    src: url('/assets/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto Black Italic';
    src: url('/assets/fonts/Roboto/Roboto-BlackItalic.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('/assets/fonts/Roboto/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: 'Roboto Italic';
    src: url('/assets/fonts/Roboto/Roboto-Italic.ttf');
}
@font-face {
    font-family: 'Roboto Light';
    src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto Light Italic';
    src: url('/assets/fonts/Roboto/Roboto-LightItalic.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto Medium Italic';
    src: url('/assets/fonts/Roboto/Roboto-MediumItalic.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Thin';
    src: url('/assets/fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto Thin Italic';
    src: url('/assets/fonts/Roboto/Roboto-ThinItalic.ttf');
}

/*#endregion font-faces */

/*#region variables */
:root{
    --primary-color: #E63637;
    --secondary-color: #44944f;
    --text-color: #000;
    --link-hover-color: #000;
    --main-text-color: #fff;
    --main-border: #dedede;
    --button-background: #f3f3f3;
    --secondary-text-color: #ababab;
}
/*#endregion*/

/*#region ---- common ---- */

body {
    color: var(--text-color);
    font-family: 'Roboto', 'Segoe UI', 'Open Sans', sans-serif;
}

section{
    padding-top: 40px;
    padding-bottom: 40px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--link-hover-color);
    text-decoration: none;
}

p{
    font-family: 'Roboto Light';
    font-size: .9em;
    line-height: 1.1em;
}


select,
option,
input,
button
{
    font-size: 0.8em;
    height: 35px;
    border-radius: 0;
    border-style: solid;
    border: 1px solid var(--main-border);
    padding: 0 15px;
}
/* 
.select-container:before {
    content: 'Квартира';
    font-size: 0.8em;
    top: 8px;
    left: 16px;
    position: absolute;
    pointer-events: none;
} */

.select-container:after {
    content: '▸';
    color: var(--primary-color);
    height: 9px;
    width: 12px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 7px;
    top: 15px;
    position: absolute;
    pointer-events: none;
}

.select-container span{
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 0.8em;
    pointer-events: none;
}

.select-container span+select{
    text-align: right;
    text-align: -webkit-right;
    direction: rtl;
    padding-right: 40px;
    
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    -ms-word-break: normal;
    word-break: normal;
  }

.bg-green {
    background: var(--secondary-color);
}

.bg-red {
    background: var(--primary-color);
}


.bg-black-23t{
    background-color: black;
    opacity: 0.23;
}

.w-200px{
    width: 200px;
    display: block;
    position: relative;
}

.w-200px *{
    width: 100%;
}

.w-150px{
    width: 150px;
    display: block;
    position: relative;
}

.w-150px *{
    width: 100%;
}

.title{
    color: var(--text-color);
}

.small-table{
 font-size: 0.9em;
 font-family: 'Roboto Light';
}

.small-table td{
 margin: 0;
 padding: 0;
 border: 0;
}

.text-secondary{
    color: var(--secondary-text-color);
}

/*#endregion ---- common ---- */

/*#region ---- top menu ---- */
.topmenu__container{
    height: 56px;
}

.topmenu__row__city{
    height: 56px;
    color: var(--main-text-color);
    font-family: 'Roboto Light';
    font-size: 1.1em;
}

.topmenu__row__contacts{
    color:  var(--main-text-color);
    font-family: 'Roboto Light';
    font-size: 1.1em;
}

.topmenu__row__contacts nav li a {
    color:  var(--main-text-color);
    font-family: 'Roboto Light';
    font-size: 1.1em;
}

.topmenu__row__contacts nav li a:hover {
    color: var(--link-hover-color);
}

/*#endregion ---- top menu ---- */

/*#region ---- top menu ---- */
#mainmenu{
    height: 126px;
}

.mainmenu__container{
    height: 126px;
}

.mainmenu-logo__row{
    height: 126px;
}

.mainmenu__col{

}

.mainmenu .nav-link{
    color: var(--text-color);
}

.mainmenu .nav-link.active{
    color: var(--primary-color);
}

.mainmenu .nav-link:hover{
    color: var(--secondary-color);
}


.mainmenu li a{
    font-weight: 400;
}

/*#endregion ---- top menu ---- */


/* ---- MAIN PAGE begin ---- */
/*#region ---- main page top banner ---- */

.page-title{
    display: block;
    position: absolute;
    bottom: 2em;
    color: var(--main-text-color);
    font-family: 'Roboto Light';
}

/*#endregion ---- main page top banner ---- */

/*#region ---- main page about ---- */

.btn-widget{
    color: var(--main-text-color);
    background-color: var(--primary-color);
    height: 50px;
    box-shadow: 0px 0px 10px 0px black;
    font-family: 'Roboto Bold';
}

.margin_mt27px{
    margin-top: -27px;
}

/*#endregion ---- main page about ---- */

/*#region ----  coworking with us ---- */

.main-coworking-with-us-list div img{
    width: 40px;
}

.main-coworking-with-us-list h6{
    font-weight: 600;
    color: var(--text-color);
}

/*#endregion ---- coworking with us ---- */

/*#region ---- main page agents ---- */

#main-agents-block{
    background-color: var(--secondary-color);
}

.main-agents-container__title{
    color:var(--main-text-color);
}


.main-agents-list div img{
    width: 90%;
}

.main-agents-list h6{
    color: var(--main-text-color);
}

.main-agents-list p{
    color: var(--main-text-color);
    line-height: 1.1em;
    margin: 0;
    padding: 0;
}

.main-agents-container___link{
    color: var(--main-text-color);
}

.main-agents-container___link:hover{
    color: var(--primary-color);
}

/*#endregion ---- main page agents ---- */

/*#region ---- main page reviews ---- */

.main-reviews-list__card{
    padding: 15px;
    box-shadow: 0px 0px 5px 0px lightgray;
}

.main-reviews-list__card img{
    width: 40px;
}

.main-reviews-list__card h6{
    color: var(--secondary-color);
    font-size: 0.9em;
    font-weight: 600;;
}

.main-reviews-list__card a{
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.main-reviews-list__card a:hover{
    background-color: var(--primary-color);
}



/*#endregion ---- main page reviews ---- */
/* ---- MAIN PAGE end ---- */



/* ---- CATALOGUE PAGE begin ---- */
/*#region ---- catalogue breadcrumbs ---- */


.beadcrumbs__list span, .beadcrumbs__list a{
    color: var(--secondary-text-color);
    font-size: 0.9em;
    font-family: 'Roboto Light';
}
    .beadcrumbs__list a:hover{
        color: var(--primary-color);
    }

/*#endregion ---- catalogue breadcrumbs ---- */

/*#region ---- catalogue filters ---- */


.filters__service-list span{
    margin-right: 15px;
    padding: 0 0 3px 0;
    
}

.filters__service-list span, .filters__service-list a{
    color: var(--text-color);
    font-family: 'Roboto';
}


.filters__service-list span:hover{
    color: var(--text-color);
    border-bottom: 4px solid var(--primary-color);
    font-family: 'Roboto';
}

.filters__service-list span.active{
    color: var(--text-color);
    border-bottom: 4px solid var(--primary-color);
    font-family: 'Roboto';
}
    .filters__service-list a:hover{
        color: var(--primary-color);
    }

.filters__field-list{
    margin: 15px 0;
}

.filters__field-list .col, 
.filters__field-list .col-1, 
.filters__field-list .col-2{
    margin: 0;
    padding: 0;
}

.filters__field-list select,
.filters__field-list option,
.filters__field-list input,
.filters__field-list button,
.filters__field-list span,
.filters__field-list a{
    background-color: transparent;
    width:100%;
}

.filters__field-list span,
.filters__field-list a{
    font-size: 0.8em;
    height: 35px;
    width:100%;
    border-radius: 0;
    border-style: solid;
    border: 1px solid var(--secondary-text-color);
    padding: 0 10px;
    border: none;
    white-space: nowrap
}

.filters__field-list button
{
    background-color: var(--secondary-color);
    color:var(--main-text-color);
    font-family: 'Roboto Medium';
}



.filters__field-list select:focus-visible,
.filters__field-list option:focus-visible,
.filters__field-list input:focus-visible,
.filters__field-list button:focus-visible,
.filters__field-list span:focus-visible,
.filters__field-list a:focus-visible{
    outline: none;

}

/*#endregion ---- catalogue filters ---- */

/*#region ---- card ---- */

.card_realty{
    border: 0;
}

.card_realty .card-body{
    padding: 0;
    margin-top: 1rem;
}

.card_realty .card-body div, .card_realty .card-body p{
    padding-top: 0.5rem;
}

.card_realty .card-body .row div:first-child{
    text-align: left;
}

.card_realty .card-body .row div:last-child{
    text-align: right;
}

.card_realty .card-text{
    color: var(--secondary-text-color);
}

/*#endregion ---- card ---- */

/*#region ---- product list controls ---- */

.product-list-controls__block select,
.product-list-controls__block button{
    color: var(--text-color);
    background-color: transparent;
}

/*#endregion ---- product list controls ---- */

/*#region ---- product list items ---- */


.product-list-item{
    margin-bottom: 4em;
}

.product-list-item button{
    background-color: var(--button-background);
    border: 0;
    color: var(--secondary-color);
}

.product-list-item img{
    width: 100%;
}

.product-list-item__under-img{
    background-color: var(--secondary-color);
    width: 100%;
    margin:auto 0;
    text-align: center;
    padding: 10px;
}

.product-list-item__under-img a{
    color: var(--main-text-color)
}


.product-list-item__price{
    color: var(--secondary-color);
}

.product-list-item__price-area{
    color: var(--secondary-text-color);
}


/*#endregion ---- product list items ---- */

/*#region ---- product list controls ---- */

.product-pagination{
    background-color: transparent;
}

.product-pagination li{
    color: var(--text-color);
    border: 0;
}

.product-pagination li .active{
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

.product-pagination li a{
    position: relative;
    display: block;
    padding: .6rem .9rem;
    margin: 0 .5em;
    line-height: 1.25;
    color:var(--text-color);
    background-color: #fff;
    border: 0;
}

.product-pagination li.active a{
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

.product-pagination li a:hover{
    background-color: var(--primary-color);
    color: var(--main-text-color);
}


/*#endregion ---- product list controls ---- */
/* ---- CATALOGUE PAGE end ---- */



/* ---- CARD PAGE begin ---- */
/*#region ---- card ---- */

.product-card{

}

.product-card__title{

}

.product-card__under-title{
    color: var(--secondary-text-color);
    font-family: 'Roboto';
}

.product-list-item__agent{
    max-width: 100px;

}


/*#endregion ---- card ---- */



/* ---- CARD PAGE end ---- */



/* ---- CATALOGUE PAGE begin ---- */
/*#region ---- agents list  ---- */

.agents-list-item{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    padding: 0;
    color: var(--main-text-color);
    box-shadow: 0px 5px 5px 0px var(--main-border);
    position: relative;
}

.agents-list-item div{
    flex-basis: 100%;
    padding: 5px 15px 10px;
    background-color: var(--secondary-color);
   cursor: pointer;

}

.agents-list-item .button{
   text-align: center;
   padding: 0;
   font-family: 'Roboto Medium';
}

.agents-list-item .button span{
   line-height: 40px;
    font-size: .8em;
}

.agents-list-item .details{
    position: absolute;
    /* bottom: calc(-1 * 40px); */
    width: 100%;
    bottom: -100px;
    height: 7rem;
    display: none;
    z-index: 1;
}

.agents-list-item img {
    max-width: 100%;
    height: auto;
}

.agents-list-item_name {
    z-index: 0;
    color: var(--text-color);
    text-align: left;
    font-family: 'Roboto Medium';
    margin-top: 0.7em;
    font-size: 1.1em;
}

.agents-list-item__details_name{
    margin: 0px 0;
    font-family: 'Roboto';
}
.agents-list-item__details_tel{
    margin: 7px 0;
    font-size: .9em;
    font-family: 'Roboto Thin';
    white-space: nowrap;
   overflow: hidden;
}
.agents-list-item__details_email, .agents-list-item__details_action{
    font-size: .7em;
    margin: 7px 0;
   font-family: 'Roboto Thin';
   white-space: nowrap;
   overflow: hidden;

    /* padding:0; */

}



/*#endregion ----  agents list ---- */

/* ---- CATALOGUE PAGE end ---- */


/*#region ---- footer ---- */


.bottommenu__row__city{
    height: 56px;
    color: var(--text-color);
    font-family: 'Roboto Light';
    font-size: 1.1em;
}

.bottommenu__row__contacts{
    color:  var(--text-color);
    font-family: 'Roboto Light';
    font-size: 1.1em;
}

.footer__container{

}

.footer__leftmenu{

}

.footer__leftmenu li a{
    color: var(--main-text-color);
}

.footer__leftmenu li a:hover{
    color: var(--link-hover-color);
}

.footer__centerblock__text, .footer__centerblock__copyright, .footer__centerblock__title{
    color:  var(--main-text-color);
}

.footer__centerblock__text{
    font-size: 0.6em;
    font-family: "Roboto Light";
}

.footer__centerblock__menu li a{
    color: var(--main-text-color);
}

.footer__centerblock__menu li a:hover{
    color: var(--link-hover-color);
}


/*#endregion ---- footer ---- */